*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/images/fundo.png); 
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}



.main{
   width: 100%;
   max-width: 1280px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   margin: auto;
   padding-top: 30px;

}

.GraficosAuxiliares{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    
}

.graficoFilmes, .graficoFeiticos, .kpis{
    flex: 1;
    padding: 5px;
    display: flex;
}

.graficoFilmes, .graficoFeiticos, .usuarios, .totFilmes{
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);

    border-radius: 16px;
    height: 250px;

    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    padding: 10px;
}

.kpis{
    padding: 0px;
    flex-direction: column;
    gap: 10px;
    height: 250px;
    color: #fff;
}

.kpis p{
    font-size: 15px;
}

.kpis h1{
    color: #d4af37;
}


.usuarios, .totFilmes{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.graficoPrincipal{
  height: 400px;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  align-items: center;
  padding: 10px;
  
}

.bilheteria{
    width: 50%;
}

.tabela{
    width: 50%;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.linha{
    display: grid;
    grid-template-columns: 50px 1fr 120px 120px 100px;
    padding: 10px;
    align-items: center;
}

.cabecalho{
    font-weight: bold;
    background-color: #d4af37d2;
    color: white;
}

.divisao{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.226);
}
