*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Wizard';
    src: url(../../assets/fonts/WizardWorldSimplified.ttf) format('truetype');
}

body{
    background-image: url(../../assets/images/fundo.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    max-width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Wizard', sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
}

label {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 15px;
}

.campos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.campos input{
    padding: 13px;
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: #161922;
    border: 1px solid #696B78;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

#p_mensagem, #p_mensagemSenha{
    color: #FF525E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#div_mensagem{
    display: flex;
    flex-direction: column;
    color: #FF525E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 8px;
}

.campos p a{
    color: #ffffff;
    font-family: "Sofia Sans Condensed", sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
}

.campos p a:hover{
    color: #bac704;
}

.btn{
    width: 100%;
    text-align: center;
    padding: 13px;
    border-radius: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: "Sofia Sans Condensed", sans-serif;
}

.btn-button{
    background-color: #5758FF;
    border: 1px solid #5758FF;
}

.btn-button:hover{
    background-color: #0B163B;
}

.linha{
    width: 100%;
    height: 1px;
    background-color: #696B78;
    margin-top: 30px;
}

.cadastrar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cadastrar h2{
    color: #ffffff;
    font-family: 'Wizard', sans-serif;
}

.btn-a{
    border: 1px solid #ffffff;
    background-color: transparent;
    text-decoration: none;
}

.cadastrar a:hover{
    background-color: #ffffff;
    color: #000000;
}

/* PAGINA CADASTRO */

.identidade{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    flex-direction: row;
    gap: 15px;
}

.nome {
    display: flex;
    flex-direction: column;
    flex: 1;
}


